html{scroll-behavior: smooth;}

body > header li{ 
	text-decoration: none; 
	display: inline-block;
	padding: 0 .5rem;
}
body > header li a{ 
	font-weight: normal; 
	color:  var(--color-text);
}
body > header li .active{
	font-weight: bold;
	text-decoration: underline;
}

@media (min-width:  80rem){
	main{
		--width-content:  80rem;
		display: grid;
		grid-template-columns: 20rem auto;
		grid-gap: 2rem;
		align-items: flex-start;
	}

	aside.toc{
		box-sizing: border-box;
		position: sticky;
		top: 0;
		max-height: 90vh;
		overflow-y: auto;
		font-size:  .8rem;
	}

	aside.toc li{list-style: none;}
	aside.toc li a{color:  var(--color-text); font-weight: normal;}
	aside.toc li[data-level="2"]{margin-left: 1rem;}
	aside.toc li[data-level="3"]{margin-left: 2rem;}
	aside.toc li[data-level="4"]{margin-left: 3rem;}
	aside.toc li[data-level="5"]{margin-left: 4rem;}
}