$base: .2rem;

:root{--font-family: 'Inter', sans-serif;}

html{
	scroll-behavior: smooth;
}

h1, h2, h3, h4, em{font-weight: 500;}
h1{line-height: 1.25;}

body > header {
	//text-align: center;
	text-align: left;
	--width-content:  60rem;

	ul{ padding: 0 }

	li{ 
		text-decoration: none; 
		display: inline-block;
		padding-right: $base*6;
		a{ 
			font-weight: normal; 
			color:  var(--color-text);
			&.active{
				font-weight: bold;
				text-decoration: underline;
			}
		}
	}
}

main{
	--width-content:  60rem;
}

aside.toc li{
	list-style: none;
	padding: 0;
	background-color: transparent;

	&:hover{
		transition: .25s ease-in-out;
		background-color: var(--color-bg-secondary)
	}
	
	a{
		color:  var(--color-text);
		font-weight: normal;
		text-decoration: none;
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: $base*2 $base;
		box-sizing: border-box;
	}
	&[data-level="2"] a{padding-left: 1rem;}
	&[data-level="3"] a{padding-left: 2rem;}
	&[data-level="4"] a{padding-left: 3rem;}
	&[data-level="5"] a{padding-left: 4rem;}
}

#dashboard{
	p{font-size: x-large}
}

footer{
	font-size: small;
	padding: 0 1rem;
	margin: 12rem auto 1rem auto;
	color: var(--color-text-secondary);
	width: 100vw;
	--width-content: 60rem;
	a{
		text-decoration: underline;
		color: currentColor;
		font-weight: normal;
	}
}

@media (min-width:  60rem){

	main{
		display: grid;
		grid-template-columns: 20rem auto;
		grid-gap: 2rem;
		align-items: flex-start;
	}

	.content{
		grid-column: 2;
		grid-row: 1;
	}

	aside.toc{
		grid-row: 1;
		grid-column: 1;
		box-sizing: border-box;
		position: sticky;
		top: 16rem;
		max-height: 90vh;
		overflow-y: auto;
		font-size:  .8rem;
	}

}